﻿@model housepee_asp.Models.blogs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        @Html.DisplayFor(model => model.title)
        <small>
            by
            <a href="#">@Html.DisplayFor(model => model.user.name_user)</a>
        </small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home 2</li>
    </ol>
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="@Html.DisplayFor(model=>model.image)" alt="">
            <hr>
            <!-- Date/Time -->
            <p>Posted on @Html.DisplayFor(model => model.createTime)</p>
            <hr>
            <!-- Post Content -->
            <p class="lead">
                <h4> @Html.Raw(HttpUtility.HtmlDecode(Model.description))</h4>
                @Html.Raw(HttpUtility.HtmlDecode(Model.content))
            </p>
         
            <p>
                @Html.ActionLink("Quay lại danh sách bài viết", "Index")
            </p>
            <!-- Comments Form -->
            <div class="card my-4">
                <div class="fb-comments" data-href="http://localhost:53323/blogs/details/@Html.DisplayFor(model => model.blog_id)" data-width="" data-numposts="5"></div>
            </div>
        </div>
        <!-- Sidebar Widgets Column -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
