﻿@model IEnumerable<housepee_asp.Models.blogs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
       Bài viết
        <small>Gần nhất</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Blogs</a>
        </li>
        <li class="breadcrumb-item active">Index</li>
    </ol>
    <div class="row">
        <div class="col-sm-3">
            <div class="card mb-4  ">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <form action="/blogs/search" method="post">
                        <div class="input-group">
                            <input type="text" name="searchkey" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            @foreach (var item in Model)
            {
                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <a href="/blogs/details/@Html.DisplayFor(modelItem=>item.blog_id)">
                                    <img class="card-img-top img-responsive" src="@Html.DisplayFor(modelItem=>item.image)" alt="">
                                </a>
                            </div>
                            <div class="col-lg-9">
                                <h2 class="card-title">@Html.DisplayFor(modelItem => item.title)</h2>
                                <p class="card-text text-truncate">@Html.Raw(HttpUtility.HtmlDecode(item.description))</p>
                                <a href="/blogs/details/@Html.DisplayFor(modelItem=>item.blog_id)" class="btn btn-primary">Read More &rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on @Html.DisplayFor(modelItem => item.createTime) by
                        <a href="#">@Html.DisplayFor(modelItem => item.user.username)</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>

</div>

@*</div>*@
