﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản lý và cho thuê nhà</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="~/Content/modern-business.css" rel="stylesheet">
    <link href="~/Content/footer.css" rel="stylesheet" type="text/css">

    @*Custom styles roomlist*@
    <link href="~/Content/room.css" rel="stylesheet" type="text/css">

    @*Jquery*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

   
</head>
<body>
    @*API facebook*@
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3&appId=410478876453680&autoLogAppEvents=1"></script>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <i style="color:white;" class="fas fa-home"></i>
            <a class="navbar-brand" href="/Home">Housepee</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/about">Giới thiệu</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="?page=services">Tìm nhà trọ</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/Contacts/Create">Liên hệ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Tìm nhà
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/Roomdetail/Index">Cho thuê</a>
                            @*<a class="dropdown-item" href="?page=product">Đang bán</a>*@
                            @*<a class="dropdown-item" href="?page=product">Người ở ghép</a>*@
                            <!-- <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                            <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a> -->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Bài viết</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            @{
                                if (Session["UserId"] != null)
                                {
                                    <span>Hi @Session["UserName"]</span>
                                }
                                else
                                {
                                    <span> Trang cá nhân</span>
                                }
                            }
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            @{
                                if (Convert.ToInt32(Session["IsAdmin"]) == 1)
                                {
                                    <a class="dropdown-item" href="/admin/home">Trang quản trị</a>
                                }
                            }
                            @{
                                if (Session["UserId"] != null)
                                {
                                    <a class="dropdown-item" href="/users/details/@Session["UserId"]">Thông tin cá nhân</a>
                                    <a class="dropdown-item" href="/home/logout">Đăng xuất</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="/home/login">Đăng nhập</a>
                                    <a class="dropdown-item" href="/users/create">Đăng ký</a>

                                }
                            }

                            <!-- <a class="dropdown-item" href="faq.html">Quản lý tài kho</a>
                            <a class="dropdown-item" href="404.html">404</a>
                            <a class="dropdown-item" href="pricing.html">Pricing Table</a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 footer-top">
                    <div class="row block-footer-2">
                        <div class="col-xs-6 col-sm-6 col-md-2 mt-3">
                            <h3>Thông tin liên hệ</h3>
                            <p>
                                Tel : 033 415 0480<br>
                                <span>Email : nguyenanhtu0407@gmail.com</span>
                            </p>
                            <!-- <img class="img-responsive" src="img/footer-logo.png" alt=""> -->
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-2 mt-3">
                            <h3>Hỗ trợ</h3>
                            <ul>
                                <li><h2><a href="" title="Motivational">Giới thiệu</a></h2></li>
                                <li><h2><a href="" title="TED">Điều khoản sử dụng</a></h2></li>
                                <li><h2><a href="" title="Trailers Phim">Quảng cáo</a></h2></li>
                                <li><h2><a href="" title="Video nhạc">Tính năng ưu điểm</a></h2></li>
                            </ul>
                            <ul></ul>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 footer-about mt-3">
                            <h3>Về chúng tôi</h3>
                            <p>Trang web đăng tin chia sẻ miễn phí thông tin về phòng trọ, nhà riêng, văn phòng nhằm giúp người thuê phòng và người cho thuê phòng tương tác với nhau không qua trung gian môi giới.</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 footer-tag mt-3">
                            <h3>Top từ khóa</h3>
                            <p>
                                <a href="http://phongtot.vn/phong-tro-nha-tro">Tìm phòng trọ</a>,
                                <a href="http://phongtot.vn/phong-tro-nha-tro">Tìm nhà trọ</a>,
                                <a href="http://phongtot.vn/phong-tro-nha-tro">Cho thuê nhà trọ</a>,
                                <a href="http://phongtot.vn/phong-tro-nha-tro">Cho thuê phòng trọ</a>,
                                <a href="http://phongtot.vn/nha-nguyen-can">Cho thuê nhà nguyên căn</a>,
                                <a href="http://phongtot.vn/nha-nguyen-can">Thuê nhà nguyên căn</a>,
                                <a href="http://phongtot.vn/nha-nguyen-can">Nhà cho thuê</a>,
                                <a href="http://phongtot.vn/chung-cu-can-ho">Cho thuê chung cư mini</a>,
                                <a href="http://phongtot.vn/o-ghep">Tìm người ở ghép</a>,
                                <a href="http://licham.com" target="_blank" title="Lịch âm">Lịch âm</a>
                            </p>
                        </div>
                    </div>
                    <div class="row block-footer-bottom">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <a href="">Site map</a> /
                                <a href="">Tìm kiếm nâng cao</a> /
                                <a href="">Liên hệ</a>
                                <br>
                                <span>Website đang hoạt động thử nghiệm, chờ xin giấy phép hoạt động của Bộ thông tin và truyền thông.</span><br>
                                <span>© 2019 MIS HVNH. All rights reserved.</span>
                            </div>
                            <div class="float-right">
                                <i class="fab fa-apple"></i>
                                <i class="fab fa-windows"></i>
                                <i class="fab fa-google-plus"></i>
                                <i class="fab fa-facebook-square"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    @*Script for layout*@
    <script src="~/Scripts/layout.js"></script>


</body>

</html>