﻿@model IEnumerable<housepee_asp.Models.blogs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<
<style>
    /*.text-truncate {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        width:100%!important;
    }*/
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách bài viết</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Mã bài viết </th>
                                <th class="column-title">Tên bài viết </th>
                                <th class="column-title">Ngày tạo </th>
                                <th class="column-title">Mã người viết</th>
                                <th class="column-title">Tên người viết</th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Thao tác</span>
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="even pointer">
                                    <td class=" ">@Html.DisplayFor(modelItem => item.blog_id)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.title)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.createTime)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.user_id) </td>
                                    <td class="text-truncate">@Html.DisplayFor(modelItem => item.user.username)</td>
                                    <td class="last">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.blog_id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.blog_id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.blog_id })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

