﻿@model IEnumerable<housepee_asp.Models.roomimages>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roomdetail.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roomdetail.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.room_image_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.room_image_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.room_image_id })
        </td>
    </tr>
}

</table>
