﻿
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using (Html.BeginForm("ChangePassWord","Users",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <form>
        <div class="form-group">
            <h2>@ViewBag.Mess</h2>
            <label for="exampleInputEmail1">Mật khẩu cũ</label>
            <input type="password" class="form-control" name="password" placeholder="Mật khẩu cũ">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mật khẩu mới</label>
            <input type="password" class="form-control" id="password" onchange='check_pass();' placeholder="Mật khẩu mới">
            <label for="exampleInputPassword1">Xác nhận mật khẩu</label>
            <input type="password" class="form-control" id="confirm_password" name="newPassword" onchange='check_pass();' placeholder="Xác nhận mật khẩu mới">
        </div>
        <span id='message'></span>
        <input type="submit" name="submit" value="Đổi mật khẩu" id="submit" disabled />
    </form>
}
    <script>
          
        function check_pass() {
            if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('submit').disabled = false;
            } else {
                document.getElementById('submit').disabled = true;
            }
        }
    </script>