﻿@model housepee_asp.Models.user

@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>

    <div class="main">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <section class="signup">
                <!-- <img src="images/signup-bg.jpg" alt=""> -->
                <div class="container">
                    <div class="signup-content">
                        <form class="signup-form form-horizontal">
                            <h2 class="form-title">Tạo tài khoản</h2>
                            <div class="form-group">
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-input", @placeholder = "Tên tài khoản" } })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-input", @placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-input", @placeholder = "Password", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.phonenumber, new { htmlAttributes = new { @class = "form-input", @placeholder = "Số điện thoại" } })
                                @Html.ValidationMessageFor(model => model.phonenumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default form-submit" />
                            </div>
                        </form>
                        <p class="loginhere">
                            Have already an account ? <a href="~/home/login" class="loginhere-link">Login here</a>
                        </p>
                    </div>
                </div>
            </section>
        }
    </div>

    <!-- JS -->
    @*<script src="~/Scripts/jquery.min.logout.js"></script>*@
    @*<script src="~/Scripts/main.js"></script>*@
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>