﻿@model housepee_asp.Models.user

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Thông tin người dùng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Tên người dùng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_user)
        </dd>

        <dt>
            Tên đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
Số điện thoại        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>

   

 

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa thông tin cá nhân", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Đổi mật khẩu", "ChangePassWord","Users")
</p>
