﻿@model housepee_asp.ViewModel.RoomDetailViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoomDetailViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_water)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_water)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_electric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_electric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toilet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toilet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bedroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bedroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sub_distric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sub_distric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastModifieldBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastModifieldBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastModifieldTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastModifieldTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_type_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_type_room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_type_room)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
