﻿@model IEnumerable<housepee_asp.Models.roomdetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



@Html.ActionLink("Create New", "Create")
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách phòng</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Mã phòng </th>
                                <th class="column-title">Tên phòng</th>
                                <th class="column-title">Ngày tạo </th>
                                <th class="column-title">Loại Phòng</th>
                                <th class="column-title">Người tạo</th>
                                <th class="column-title">Giá phòng</th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Thao tác</span>
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr class="even pointer">
                                    <td class=" ">@Html.DisplayFor(modelItem => item.room_id)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.name)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.createTime) </td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.roomtype.name_type_room)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.user.name_user)</td>
                                    <td class="a-right a-right ">@Html.DisplayFor(modelItem => item.price_room)</td>
                                    <td class=" last">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.room_id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.room_id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.room_id })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
