﻿@model housepee_asp.ViewModel.RoomImageViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start content room details -->
<div class="row">
    @*Searching box*@
    <div class="col-sm-3 pl-5 ">
        <form class="rounded form bg-light " method="post" action="/roomdetail/Search">
            <h2 class="my-4 text-center text-primary">Tìm kiếm</h2>
            <div class="form-group">
                <select name="city" class="form-control  mdb-select md-form colorful-select dropdown-primary d-block"
                        searchable="Search here..">
                    <option value="" disabled selected>Thành phố</option>
                    <option value="Hà Nội">Hà Nội</option>
                    <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                </select>
            </div>
            <div class=" form-group">
                <select name="distric" class="form-control mdb-select md-form colorful-select dropdown-primary d-block"
                        searchable="Search here..">
                    <option value="" disabled selected>Quận/Huyện</option>
                    <option value="Nam Từ Liêm">Nam Từ Liêm</option>
                    <option value="Bắc Từ Liêm">Bắc Từ Liêm</option>
                </select>
            </div>
            <div class=" form-group">
                <select class=" form-control mdb-select md-form colorful-select dropdown-primary d-block"
                        searchable="Search here..">
                    <option value="" disabled selected>Phường/Xã</option>
                    <option value="Mễ Trì">Mễ Trì</option>
                    <option value="Trung Văn">Trung Văn</option>
                </select>
            </div>
            <div class=" form-group">
                <select class=" form-control mdb-select md-form colorful-select dropdown-primary d-block"
                        searchable="Search here..">
                    <option value="" disabled selected>Đường</option>
                    <option value="Mễ Trì">Mễ Trì</option>
                    <option value="Lương Thế Vinh">Lương Thế Vinh</option>
                    <option value="4">Option 4</option>
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 text-center">
                    <label class="" for="inputEmail4">Từ</label>
                    <input type="text" class="form-control" id="input" name="up" placeholder="Triệu Đồng">
                </div>
                <div class="form-group col-md-6 text-center">
                    <label for="inputPassword4">Đến</label>
                    <input type="text" class="form-control" id="input" name="down" placeholder="Triệu Đồng">
                </div>
            </div>
            <button type="submit" class="btn btn-primary ml-5"><i class="fa fa-search" aria-hidden="true"> Tìm kiếm</i></button>
        </form>
    </div>

    @*End searching box*@
    <div class="col-md-9 pr-5">
        <h2 class="my-4">Thông tin</h2>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Địa chỉ</th>
                    <td colspan="3">
                        @Html.DisplayFor(modelItem => modelItem.RoomDeTail.number)
                        @Html.DisplayFor(modelItem => modelItem.RoomDeTail.street) - @Html.DisplayFor(modelItem => modelItem.RoomDeTail.sub_distric)
                        - @Html.DisplayFor(modelItem => modelItem.RoomDeTail.distric) - @Html.DisplayFor(modelItem => modelItem.RoomDeTail.city)
                    </td>
                    <td><a href=""><span class="fa fa-mobile-phone"></span>Thông tin liên hệ</a></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Diện tích</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.RoomDeTail.area)</td>
                    <th scope="row">Loại phòng</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.RoomDeTail.name_type_room)</td>
                    <td><a href=""><span class="fa fa-money-bill-wave-alt"></span>@Html.DisplayFor(modelItem => modelItem.RoomDeTail.price_room) Đ/tháng</a></td>
                </tr>
                <tr>
                    <th scope="row">Giá điện</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.RoomDeTail.price_electric)</td>
                    <th scope="row">Vệ sinh</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.RoomDeTail.toilet)</td>
                    <td><a href=""><span class="fa fa-user"></span>@Html.DisplayFor(modelItem => modelItem.RoomDeTail.Name_user)</a></td>
                </tr>
                <tr>
                    <th scope="row">Giá nước</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.RoomDeTail.price_water)</td>
                    <th scope="row">Phòng ngủ</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.RoomDeTail.bedroom)</td>

                    <td><a href=""><span class="fa fa-phone"></span>@Html.DisplayFor(modelItem => modelItem.RoomDeTail.Number_phone)</a></td>
                </tr>

                <tr>
                    <th scope="row">Tiện ích</th>
                    <td colspan="3">@Html.DisplayFor(modelItem => modelItem.RoomDeTail.services)</td>
                </tr>
            </tbody>
        </table>
        <div class="content-image">
            <h2 class="my-4">Ảnh minh họa</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    @{
                        int i = 0;
                        foreach (var item in Model.ListImage)
                        {
                            if (i == 0)
                            {
                                <div class="carousel-item active">
                                    <img class="d-block w-100 h-100 img-fluid"
                                         src="@Html.DisplayFor(modelItem=>item.url)"
                                         alt="i">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img class="d-block w-100 h-100 img-fluid"
                                         src="@Html.DisplayFor(modelItem=>item.url)"
                                         alt="i">
                                </div>
                            }
                            i++;
                        }
                    }

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="bg-light">
                    <h2 class="my-4">Mô tả</h2>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.RoomDeTail.description))
                </div>
            </div>

        </div>

    </div>

</div>
<!-- End content room details -->
