﻿@model IEnumerable<housepee_asp.ViewModel.RoomDetailViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Controllers/roomController.js"></script>
<!-- Start content product -->
<input id="userid"type="hidden" value="@Session["UserId"]" />
<div class="Content">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item">
            <a href="index.html">Roomdetail</a>
        </li>
        <li class="breadcrumb-item active">Danh sách phòng trọ </li>
    </ol>
    <div class="row">
        <div class="col-sm-3 pl-5 ">
            <form class="rounded form bg-light " method="post" action="/roomdetail/Search">
                <h2 class="my-4 text-center text-primary">Tìm kiếm</h2>
                <div class="form-group">
                    <select name="city" class="form-control  mdb-select md-form colorful-select dropdown-primary d-block"
                            searchable="Search here..">
                        <option value="" disabled selected>Thành phố</option>
                        <option value="Hà Nội">Hà Nội</option>
                        <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                    </select>
                </div>
                <div class=" form-group">
                    <select name="distric" class="form-control mdb-select md-form colorful-select dropdown-primary d-block"
                            searchable="Search here..">
                        <option value="" disabled selected>Quận/Huyện</option>
                        <option value="Nam Từ Liêm">Nam Từ Liêm</option>
                        <option value="Bắc Từ Liêm">Bắc Từ Liêm</option>
                    </select>
                </div>
                <div class=" form-group">
                    <select class=" form-control mdb-select md-form colorful-select dropdown-primary d-block"
                            searchable="Search here..">
                        <option value="" disabled selected>Phường/Xã</option>
                        <option value="Mễ Trì">Mễ Trì</option>
                        <option value="Trung Văn">Trung Văn</option>
                    </select>
                </div>
                <div class=" form-group">
                    <select class=" form-control mdb-select md-form colorful-select dropdown-primary d-block"
                            searchable="Search here..">
                        <option value="" disabled selected>Đường</option>
                        <option value="Mễ Trì">Mễ Trì</option>
                        <option value="Lương Thế Vinh">Lương Thế Vinh</option>
                        <option value="4">Option 4</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 text-center">
                        <label class="" for="inputEmail4">Từ</label>
                        <input type="text" class="form-control" id="input" name="up" placeholder="Triệu Đồng">
                    </div>
                    <div class="form-group col-md-6 text-center">
                        <label for="inputPassword4">Đến</label>
                        <input type="text" class="form-control" id="input" name="down" placeholder="Triệu Đồng">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary ml-5"><i class="fa fa-search" aria-hidden="true"> Tìm kiếm</i></button>
            </form>
        </div>
        <div class="col-sm-9">
            <!-- start roomlist -->
            <div class="room-list">

                @foreach (var item in Model)
                {<div class="col-md-12">
                        <div class="block-room-item-title">
                            <a href="/Roomdetail/details/@Html.DisplayFor(modelItem => item.id)">
                                @Html.DisplayFor(modelItem => item.title)
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-md-3 room-item-thumbnail">

                                <img id="a1" class="img-fluid"
                                     src="@item.image"
                                     alt="@Html.DisplayFor(modelItem => item.title)">

                            </div>
                            <div class="col-md-9 room-item-i">
                                <div class="block-room-item-address">
                                    <span>Địa chỉ: </span>
                                    <a>
                                        @Html.DisplayFor(modelItem => item.number) @Html.DisplayFor(modelItem => item.street)
                                        - @Html.DisplayFor(modelItem => item.sub_distric)-@Html.DisplayFor(modelItem => item.distric)
                                        -@Html.DisplayFor(modelItem => item.city)
                                    </a>
                                </div>
                                <div class="block-room-item-info">
                                    <div class="pull-left">
                                        <span>Diện tích: </span><a>@Html.DisplayFor(modelItem => item.area) m2</a>
                                    </div>
                                    <div class="pull-right item-info-date">
                                        <a>
                                            @Html.DisplayFor(modelItem => item.createTime)
                                        </a>
                                    </div>
                                    <div class="item-info-vs">
                                        <span>Vệ sinh: </span><a>@Html.DisplayFor(modelItem => item.toilet)</a>
                                    </div>
                                </div>
                                <div class="block-room-item-price">
                                    <span>Giá cả: </span><a>@item.price_room Đ/tháng</a>
                                </div>
                                <div class="block-room-item-btn">
                                    <form class="d-inline" action="/roomdetail/details/@Html.DisplayFor(model=>item.id)">
                                        <button class="btn btn-room-detail">
                                            Xem
                                            chi tiết
                                        </button>
                                    </form>
                                    @*<form class="d-inline" method="post" action="@Url.Action("Save", "Users")">*@
                                        <input type="text" hidden="hidden" name="SaveId" value="@Html.DisplayFor(model=>item.id)" />
                                        <button class="btn btn-room-save"id="room_@item.id" data-userid="@Session["UserId"]"data-roomid="@item.id">
                                            Lưu
                                            tin
                                        </button>
                                    @*</form>*@
                                </div>
                            </div>
                            <!-- <div class="clearfix"></div> -->
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- End roomlist -->
</div>
<!-- End content product -->
<script>
   $(document).ready(function () {
        var userId = $("#userid").val();
        $.ajax({
            url: '@Url.Action("StatusRoomOfUser", "RoomDetail")',
            type: "POST",
            data: {
                userId:userId
            },
            datatype: "json",
            success: function (data) {
                console.log(data);
                data.list.forEach(function (e) {
                    var name = "#room_" + e;
                    $(name).text("Đã lưu")
                })
            },
            Error: function(err){
                console.log(err);
            }
        });
    });

    $(".btn-room-save").off("click").on("click", function (e) {
            e.preventDefault();
            var btn = $(this);
        var roomId = btn.data("roomid");
        var userId = btn.data("userid");
        if (userId.length<1) {
            alert('Bạn cần đăng nhập để thực hiện thao tác này');
        };
            $.ajax({
                type:"POST",
                url: '@Url.Action("ChangeStatus", "RoomDetail")',
                data: {
                    userId: userId,
                    roomId: roomId
                },
                datatype: "json",
                success: function (responsive) {
                    console.log(responsive);
                    if (responsive.status == true) {
                        btn.text("Đã lưu");
                    }
                    else {
                        btn.text("Lưu tin");
                    }
                }

            });
        });
</script>