﻿@{
    ViewBag.Title = "About";
}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Về chúng tôi
        <small>Học Viện Ngân Hàng</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="http://channel.mediacdn.vn//thumb_w/640/prupload/164/2016/08/img20160819053931101.jpg" alt="Học viện Ngân Hàng">
        </div>
        <div class="col-lg-6">
            <h2>Học Viện Ngân Hàng</h2>
            <p>
                Học viện Ngân hàng là một trường đại học kinh tế tại Việt Nam chuyên ngành ngân hàng, được thành lập ngày 09/02/1998

                Học viện Ngân hàng được tổ chức và hoạt động dưới sự lãnh đạo và quản lý trực tiếp của Ngân hàng Nhà nước Việt Nam và chịu sự quản lý nhà nước về giáo dục của Bộ Giáo dục và Đào tạo.
                <br />
                Trụ sở chính: Số 12, đường Chùa Bộc, Quận Đống Đa, Hà Nội, Việt Nam
                <br />Điện thoại: 84 43 852 6417
                <br />Fax: 84 43 852 5024
                <br />E-mail: info@hvnh.edu.vn.
            </p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/52833772_1336527406501659_5436867107071459328_n.jpg?_nc_cat=101&_nc_oc=AQl51-jKulUfQppuntqM2N_3IMi8g3r2QzUHzJ0WQeh77lTO47RJV53Bk-OlhncVx1o&_nc_ht=scontent.fhan2-1.fna&oh=05088fb074ab24eea445d3a161453b5c&oe=5D16CAE0" alt="">
                <div class="card-body">
                    <h4 class="card-title">Nguyễn Anh Tú</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Team Leader</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">nguyenanhtu0407@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.0-0/p206x206/12063357_744774502335127_6858887571286472877_n.jpg?_nc_cat=108&_nc_oc=AQntvjuR5lu69wpPL3S-b32HkjDJDmFbOd756S4VbKI_NzZrVTOJ8kMEJ4pE2yRYy0g&_nc_ht=scontent.fhan2-3.fna&oh=603aa09913591a985e5cb5e80c230587&oe=5D244B68" alt="">
                <div class="card-body">
                    <h4 class="card-title">Phạm Hoàng Dũng</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Team Member</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/48426264_330843910845874_4061399900632383488_n.jpg?_nc_cat=100&_nc_oc=AQnq--pB7PFljz81b-AR4eyK0q1spj9aV1YPg9xniX1Gg9JoaVp6QZ3cwZYuErYMEjw&_nc_ht=scontent.fhan2-4.fna&oh=c27e9d9bd0490a5497a58aff571423fb&oe=5CDDC71D" alt="">
                <div class="card-body">
                    <h4 class="card-title">Hoàng Thu Hương</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Team Member</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/52319854_1686336731512363_736486139921170432_n.jpg?_nc_cat=102&_nc_oc=AQlTHBjwoRRbmCSLc-7LQpzjnwOl7YToWbcA0xLIwzQieLYTUe-WDz3yxbNUWBsKBiI&_nc_ht=scontent.fhan2-1.fna&oh=3a6e5bac4d7d2bde4f5bf4c59171045b&oe=5D23486F" alt="">
                <div class="card-body">
                    <h4 class="card-title">Đinh Thùy Linh</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Team Member</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-1/51508084_2365643767052771_565117773739458560_n.jpg?_nc_cat=104&_nc_oc=AQk1tQQH4JG6BhUGJXxQQ5pnvGw8c8Hr-mJkpr_Q1wRjJqOrfZrBZiNAi7VmKZGtjiU&_nc_ht=scontent.fhan2-4.fna&oh=4538091fbb49c6fd501b685343dc646f&oe=5CE33D5C" alt="">
                <div class="card-body">
                    <h4 class="card-title">Phan Thị Kim Hoa</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Team Member</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Our Customers -->
    <h2>Các Đối Tác</h2>
    <div class="row">
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="https://www.freelogodesign.org/Content/img/logo-ex-4.png" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="https://www.freelogodesign.org/Content/img/logo-ex-4.png" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="https://www.freelogodesign.org/Content/img/logo-ex-4.png" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="https://www.freelogodesign.org/Content/img/logo-ex-4.png" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="https://www.freelogodesign.org/Content/img/logo-ex-4.png" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="https://www.freelogodesign.org/Content/img/logo-ex-4.png" alt="">
        </div>
    </div>
    <!-- /.row -->

</div>