﻿@model housepee_asp.ViewModel.HomePageViewModel
@{
}
@Html.Raw(TempData["Login"])

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active"
                 style="background-image: url('https://www.bijlarchitecture.com.au/media/projects/step-down-house/_mediumImage/Step-Down-House-Bijl-01.jpg')">

            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item"
                 style="background-image: url('https://static.dezeen.com/uploads/2017/08/clifton-house-project-architecture_dezeen_hero-1-1704x959.jpg')">

            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item"
                 style="background-image: url('https://cdn.vox-cdn.com/thumbor/9KHtq2E7Ua18ok5qlLnAv5kXLfY=/0x0:4256x2163/1200x800/filters:focal(1731x758:2411x1438)/cdn.vox-cdn.com/uploads/chorus_image/image/58387913/Flex_House_Exterior_6_13_17.0.jpg')">

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-sm-3 ">
            <form class="rounded form bg-light " method="post" action="/roomdetail/Search">
                <h2 class="my-4 text-center text-primary">Tìm kiếm</h2>
                <div class="form-group">
                    <select name="city" id="city" class="form-control">
                        <option value="" selected disabled hidden>Thành phố</option>
                        @foreach (var item in ViewBag.CityList)
                        {
                            <option id="@item.matp"   value="@item.matp">@item.name</option>
                        }
                    </select>
                </div>
                <div class=" form-group">
                    <select name="district" id="district" class="form-control">
                        <option value="" selected disabled hidden>Quận/Huyện</option>
                    </select>
                </div>
                <div class=" form-group">
                    <select name="subdistrict" id="subdistrict" class="form-control">
                        <option value="" selected disabled hidden>Phường/Xã</option>
                    </select>
                </div>
                <div class=" form-group">
                    <select name="street" id="street" class="form-control">
                        <option value="" selected disabled hidden>Đường</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 text-center">
                        <label class="" for="inputEmail4">Từ</label>
                        <input type="text" class="form-control" id="input" name="up" placeholder="Triệu Đồng">
                    </div>
                    <div class="form-group col-md-6 text-center">
                        <label for="inputPassword4">Đến</label>
                        <input type="text" class="form-control" id="input" name="down" placeholder="Triệu Đồng">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary ml-5"><i class="fa fa-search" aria-hidden="true"> Tìm kiếm</i></button>
            </form>
        </div>
        <div class="col-sm-9">
            <h2 class="my-4 text-orange">Các phòng mới</h2>
            <div class="row">
                @foreach (var item in Model.RoomDetail.Take(3))
                {
                    <div class="col-sm-4 portfolio-item">
                        <div class="card h-100">
                            <a href="~/roomdetail/details/@Html.DisplayFor(modelItem=>item.id)">
                                <img class="card-img-top img-responsive"
                                     src="@Html.DisplayFor(modelItem=>item.image)"
                                     alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="~/roomdetail/details/@Html.DisplayFor(modelItem=>item.id)">@Html.DisplayFor(modelItem => item.title)</a>
                                </h4>
                                <a href=""><span class="fa fa-money-bill-wave-alt"></span>@Html.DisplayFor(modelItem => item.price_room) Đ/tháng</a>
                                <div>
                                    <div class="float-left">
                                        <a href="~/roomdetail/details/@Html.DisplayFor(modelItem=>item.id)"><i class="fa fa-map-marker"></i>@Html.DisplayFor(modelItem => item.distric)</a>
                                    </div>
                                    <div class="float-right">
                                        <a href="~/roomdetail/details/@Html.DisplayFor(modelItem=>item.id)"><i class="fa fa-info"></i>@Html.DisplayFor(modelItem => item.area) m<sup>2</sup></a>
                                    </div>
                                    <div class="float-left">
                                        <a href="~/roomdetail/details/@Html.DisplayFor(modelItem=>item.id)"><i class="fa fa-home"></i>@Html.DisplayFor(modelItem => item.name_type_room)</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                }


            </div>
            <div class="row">
                <div class="col-md-12 home-article-label">
                    <div class="float-left">
                        <a href="http://phongtot.vn/bai-viet">
                            <h3 class="text-orange"> Bài viết mới nhất</h3>
                        </a>
                    </div>
                    <div class="float-right">
                        <a href=""></a>
                        <h3>
                            <a class="text-orange" href="http://phongtot.vn/bai-viet">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                </div>
                <div class="col-md-7 left">
                    <div class="thumbnail thumb-big">
                        <a href="/blogs/details/@Html.DisplayFor(model=>Model.Blog[0].blog_id)">
                            <img class="img-fluid"
                                 src="@Html.DisplayFor(model=>Model.Blog[0].image)"
                                 alt="@Html.DisplayFor(model=>Model.Blog[0].title)">
                            <h2 class="title">
                                @Html.DisplayFor(model => Model.Blog[0].title)
                            </h2>
                            <p class="">@Html.Raw(HttpUtility.HtmlDecode(Model.Blog[0].description))</p>
                        </a>

                    </div>
                    <div class="row">

                        @foreach (var item in Model.Blog.Skip(1).Take(3))
                        {

                            {

                                <div class="col-md-4 thumbnail ">
                                    <a href="/blogs/details/@Html.DisplayFor(model=>item.blog_id)">
                                        <img class="img-fluid"
                                             src="@Html.DisplayFor(model=>item.image)"
                                             alt="y-tuong-kinh-doanh-nha-tro-ngoi-khong-moi-thang-kiem-tram-trieu">
                                        <h6 class="title"
                                            href="/blogs/details/@Html.DisplayFor(model=>item.blog_id)">
                                            @Html.DisplayFor(model => item.title)
                                        </h6>
                                    </a>
                                </div>
                            }


                        }
                    </div>
                </div>
                <div class="col-md-5 right">
                    @foreach (var item in Model.Blog.Skip(4).Take(3))
                    {
                        <div class="row mb-2">
                            <div class="col-md-5 no-padding-vertical">
                                <a href="/blogs/details/@Html.DisplayFor(model=>item.blog_id)">

                                    <img class="img-fluid"
                                         src="@Html.DisplayFor(model=>item.image)"
                                         alt="pham-huong-mac-gian-di-giao-luu-cung-sinh-vien">
                                </a>
                            </div>
                            <div class="col-md-7 no-padding-left">
                                <a href="/blogs/details/@Html.DisplayFor(model=>item.blog_id)">

                                    <h6 class="title"
                                        href="/blogs/details/@Html.DisplayFor(model=>item.blog_id)">
                                        @Html.DisplayFor(model => item.title)
                                    </h6>
                                </a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <!-- /.row -->


</div>
<!-- End content -->
<script>
    $(document).ready(function () {
        alert("Release 2.0");
    });
    $("#city").change(function () {
        var cityid = $("#city").val();
        if (cityid.length > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDistrictList", "Home")',
                data: {
                    cityid:cityid
                },
                datatype: "json",
                success: function (data) {
                    $('#district option').remove()
                    $.each(data, function (index, elementIntake) {
                        $('#district').append('<option data-maqh="' + elementIntake.maqh + '" value="' + elementIntake.maqh + '">' + elementIntake.name + '</option>')
                    })
                },
                error: function () {
                    alert('Failed');
                }

            });
        }
    }); $("#district").change(function () {
      
        var districtid = $(this).find(':selected').data('maqh');
        if (districtid.length > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSubDistrictList", "Home")',
                data: {
                    districtid:districtid
                },
                datatype: "json",
                success: function (data) {
                    $('#subdistrict option').remove()
                    $.each(data, function (index, elementIntake) {
                        $('#subdistrict').append('<option data-xaid="' + elementIntake.xaid + '" value="' + elementIntake.xaid + '">' + elementIntake.name + '</option>')
                    })
                },
                error: function () {
                    alert('Failed');
                }

            });
        }
    }); $("#subdistrict").change(function () {
        var btn = $(this);
        var subdistrictid = $(this).find(':selected').data('xaid');
        if (subdistrictid.length > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetStreet", "Home")',
                data: {
                    subdistrictid: subdistrictid
                },
                datatype: "json",
                success: function (data) {
                    $('#street option').remove()
                    $.each(data, function (index, elementIntake) {
                        $('#street').append('<option data-maduong="' + elementIntake.maduong + '" value="' + elementIntake.maduong + '">' + elementIntake.name + '</option>')
                    })
                },
                error: function () {
                    alert('Failed');
                }

            });
        }
        });

    @*var x = $('#UserID').val();

        if (x.length > 0) {

            $.ajax({
                type: "GET",
                url: '@Url.Action("StatusRoomOfUser", "RoomDetail")',
                data: { 'values': x },
                success: function (data) {

                    $('#intake option').remove()
                    $.each(data, function(index,elementIntake){
                    $('#intake').append('<option value="' + elementIntake.IntakeID + '">' + elementIntake.IntakeName + '</option>')
                       })


                },
                error: function () {
                    alert('Failed');
                }
            });

        } else {
            // depends of your personal choice of UI behavior, keep or remove
            // $('#HiddenIntake').hide();
        }
     });*@

</script>