﻿
@{
     
                Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentelella Alela! | </title>
    <!-- Bootstrap -->
    <link href="~/Areas/Admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Areas/Admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Areas/Admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Areas/Admin/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Areas/Admin/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="login">
    @Html.Raw(TempData["Login"])
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="~/home/login" method="post">
                        <h1>Login Form</h1>
                        @*@using (Html.BeginForm("Login", "Login", FormMethod.Post))
                            {*@
                        <div>

                            <input name="username" type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            @*@Html.PasswordFor(model=>model.Password,new { @class="form-control"})*@
                            <input name="password" type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">Log in</button>
                            @*<a class="btn btn-default submit" href="index.html">Log in</a>*@
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>

                        @*}*@

                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <a href="~/users/create" class="to_register"> Create Account </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />

                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>
</body>
</html>
